<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hx.insist.mapper.WorkinfoMapper" >
  <resultMap id="BaseResultMap" type="hx.insist.pojo.Workinfo" >
    <id column="winfoid" property="winfoid" jdbcType="VARCHAR" />
    <result column="wid" property="wid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="hx.insist.pojo.Workinfo" extends="BaseResultMap" >
    <result column="winfocontent" property="winfocontent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    winfoid, wid
  </sql>
  <sql id="Blob_Column_List" >
    winfocontent
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="hx.insist.pojo.WorkinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from workinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="hx.insist.pojo.WorkinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from workinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from workinfo
    where winfoid = #{winfoid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from workinfo
    where winfoid = #{winfoid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="hx.insist.pojo.WorkinfoExample" >
    delete from workinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="hx.insist.pojo.Workinfo" >
    insert into workinfo (winfoid, wid, winfocontent
      )
    values (#{winfoid,jdbcType=VARCHAR}, #{wid,jdbcType=INTEGER}, #{winfocontent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="hx.insist.pojo.Workinfo" >
    insert into workinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="winfoid != null" >
        winfoid,
      </if>
      <if test="wid != null" >
        wid,
      </if>
      <if test="winfocontent != null" >
        winfocontent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="winfoid != null" >
        #{winfoid,jdbcType=VARCHAR},
      </if>
      <if test="wid != null" >
        #{wid,jdbcType=INTEGER},
      </if>
      <if test="winfocontent != null" >
        #{winfocontent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="hx.insist.pojo.WorkinfoExample" resultType="java.lang.Integer" >
    select count(*) from workinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update workinfo
    <set >
      <if test="record.winfoid != null" >
        winfoid = #{record.winfoid,jdbcType=VARCHAR},
      </if>
      <if test="record.wid != null" >
        wid = #{record.wid,jdbcType=INTEGER},
      </if>
      <if test="record.winfocontent != null" >
        winfocontent = #{record.winfocontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update workinfo
    set winfoid = #{record.winfoid,jdbcType=VARCHAR},
      wid = #{record.wid,jdbcType=INTEGER},
      winfocontent = #{record.winfocontent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update workinfo
    set winfoid = #{record.winfoid,jdbcType=VARCHAR},
      wid = #{record.wid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="hx.insist.pojo.Workinfo" >
    update workinfo
    <set >
      <if test="wid != null" >
        wid = #{wid,jdbcType=INTEGER},
      </if>
      <if test="winfocontent != null" >
        winfocontent = #{winfocontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where winfoid = #{winfoid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="hx.insist.pojo.Workinfo" >
    update workinfo
    set wid = #{wid,jdbcType=INTEGER},
      winfocontent = #{winfocontent,jdbcType=LONGVARCHAR}
    where winfoid = #{winfoid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="hx.insist.pojo.Workinfo" >
    update workinfo
    set wid = #{wid,jdbcType=INTEGER}
    where winfoid = #{winfoid,jdbcType=VARCHAR}
  </update>
  <select id="selectByWid" resultType="hx.insist.pojo.Workinfo" parameterType="Integer">
    select * from workinfo where wid = #{0}
  </select>
</mapper>